<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        let fruits = ["Banana", "Orange", "Apple", "Mango"];
        fruits.pop();
        console.log(fruits);
        fruits.push('Kiwi');
        console.log(fruits);
        fruits.shift();
        console.log(fruits);
        fruits.unshift("Lemon");
        console.log(fruits);
        fruits.splice(2,0,"Guva", "Berry");
        console.log(fruits);
        fruits.splice(0,1);
        console.log(fruits);
        let citrus = fruits.slice(3);
        console.log(citrus)

    </script>
</body>
</html>