<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- <span class="span1">hiii</span>
    <span class="span1">hello</span>
    <p id="p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum ex error, inventore dolore nesciunt quo
        doloribus ipsa corrupti assumenda aliquid dolor facere possimus ea repudiandae quos, repellat, vel qui et.</p>
    <script>
        console.log(document.getElementById('p1').innerHTML)

        document.getElementById('p1').innerHTML = 'haai'
        document.getElementById('p1').style.color = 'red'
        console.log(document.getElementsByClassName('span1')[1].innerHTML);
    </script> -->

    <!------------------------------------------------------------------------------------------------------------------ -->
    <!-- <button onclick="change()">Change content & colour</button>
    <div id="div1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nostrum distinctio ipsam, laboriosam obcaecati
        iusto suscipit modi earum dolorem a. Eaque, esse repellat? Quis numquam illo iusto, earum vel ipsam.
    </div>
    <script>
        function change() {
            document.getElementById('div1').innerHTML = 'Hello'
            document.getElementById('div1').style.color = 'red'
        }
    </script> -->
    <!-- ------------------------------------------------------------------------------------------------------------------ -->

    <!-- <span class="span1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum assumenda veniam tempore
        inventore aperiam eius sunt modi earum officia qui placeat dolore unde dignissimos asperiores quas
        reprehenderit, labore voluptatibus blanditiis!</span>
    <span class="span1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quae eos illo voluptatum
        laudantium est, quaerat accusantium, laboriosam vitae magni nisi ex assumenda soluta iure commodi placeat
        consequatur veritatis. Harum.</span>
    <span class="span1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quod voluptates ipsa. Asperiores
        fuga, placeat a minus incidunt labore, accusamus, iste nobis ipsum aliquam facilis quasi quas minima sint
        eum.</span>

    <script>
        let spanCollections = document.getElementsByClassName('span1')

        for (let i = 0; i < spanCollections.length; i++) {
            spanCollections[i].style.color = 'red'
        }
    </script> -->

    <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

    <!-- <input type="text" placeholder="Enter first number" class="input1">
    <input type="text" placeholder="Enter second number" class="input1">
    <button onclick="alert(add())">Submit</button>

    <script>
        function add(){
            let rslt = parseInt(document.getElementsByClassName('input1')[0].value) + parseInt(document.getElementsByClassName('input1')[1].value)
           return rslt   
        }
    </script> -->



    <!-- ------------------------------------------------------------------------------------ -->

    <!-- <input type="text" placeholder="Enter first number" id="input1">
    <input type="text" placeholder="Enter second number" id="input2">
    <button onclick="alert(isSame())">Submit</button>

    <script>

        function isSame() {
            if(document.getElementById('input1').value == document.getElementById('input2').value){
                // document.write('It is same');
                return 'It is same';
            }
            else{
                // document.write('It is not same');
                return 'It is not same';
            }
        }

    </script> -->

    <!-- ----------------------------------------------------------------------------------------------------- -->



</body>

</html>