<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <span class="span1">hiii</span>
        <span class="span1">hello</span>
        <p id="p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum ex error, inventore dolore nesciunt quo doloribus ipsa corrupti assumenda aliquid dolor facere possimus ea repudiandae quos, repellat, vel qui et.</p>
    <script>

//---------------------------------------------------------------------------------------------------------------------------------------------------------------

        // function add(){
        // var num1 = 10;
        // var num2 = 20;                            //-function defined
        // var rslt = num1 + num2;
        // console.log(rslt)
        // }


        // add()                                    //-call function

        //----------------2 Types of function------------------
        // 1)Bulidin function       2)User defined function
        //eg:console.log,parsInt      eg:add()

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
        // function add(num1, num2){
        //     var rslt = num1 + num2;
        //     console.log(rslt);
        // }

        // add(10, 20)
        // add(20, 40)

//--------------------------------------------------------------------------------------------------------------------------------------------------------------

        // function userDeatils(name,adress,contactNo,email){
        //     console.log('Hi your name : ',name);
        //     console.log('adress : ',adress);
        //     console.log('Contact no : ',contactNo);
        //     console.log('Email id : ',email);
        // }

        // userDeatils('Ajaykiran','pilakattu(house)',9745796422,'ajaykiran001@gmail.com')

//----------------------------------------------------------------------------------------------------------------------------------------------------------------

        // var i = 1000;                //------Global variable : It can call anywere inside script
        // let j =10000;                //------If we declare a variable useing let, we can't use that variable further

        // function number(n){
        //     let i = 10;              //------Local variable : It works only inside a function
        //     console.log(n)           //------If local variable and global variable have same name then inside a function local variable have priority
        //     console.log(i)
        // }

//-----------------------------------------------------------------------------------------------------------------------------------------------------------------

        // function add(a,b){
        //     rslt = a + b;
        //     return rslt
        // }
        // let result = add(10,20)
        // console.log(result)

//------------------------------------------------------------------------------------------------------------------------------------------------------------------

    </script>
</body>

</html>