<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <script>
        var age = 10

if(age >= 18){
    console.log('eligible to vote')
}

else{
    console.log('not eligible to vote')
}

       

    </script> -->

    <!-- <script>
        var a = prompt('enter a number')

if(a % 2 == 0){
    console.log('even number')
}

else{
    console.log('odd number')
}
        
    </script> -->


    <!-- <script>
        var a = parseInt(prompt('enter first number'))
        var b = parseInt(prompt('enter second number'))

    if(a > b){
        console.log(a,'is greatest')
    }
    else{
        console.log(b,'is greatest')
    }

    </script> -->
<!-- ---------------------------------------------------------------------------------------- -->
    <script>
        // var i = 0
        // while(i <= 10){
        //     console.log(i);


        //     i++
        // }
// ---------------------------------------------------------------------------------------------
            // var num1 = parseInt(prompt('enter a no'))
            // var rem = 0
            // var sum = 0

            // while(num1 > 0){

            //     rem = num1 % 10  // 12 % 10 = 2
            //     sum = sum + rem

            //     num1 = parseInt(num1 / 10)
                

            // }
            // document.write('<h1>sum of digits</h1>' ,sum);
// ---------------------------------------------------------------------------------------------

            // var num1 = parseInt(prompt('enter a no.'))
            // var rem = 0
            // var rev = 0
            // while(num1 > 0){

            //     rem = num1 % 10;
            //     rev = (rev*10)+rem;
                
            //     num1 = parseInt(num1 / 10);
            // }
            // document.write(rev)
// ---------------------------------------------------------------------------------------------
            // // var num = 0
            // // while(num <= 10){
            // //     document.write(num)
            // //     document.write('<br>');
            // //     num++
            // // }

// ---------------------------------------------------------------------------------------------
            // for(let i = 0;i <= 10; i++){
            //     for(let j = 0; j <=10; j++){
            //         console.log("i = ", i, "j = ", j);
            //     }
            // }
// ---------------------------------------------------------------------------------------------
            // var lmt = Number(prompt('Enter a number'));
            // var rslt = 0;
            //     for(let n = 1; n <= lmt; n++){
            //         document.write('multiplication table of ' , n);
            //         document.write('<br>');

            //         for(let i = 1; i <= 10; i++){
            //             rslt = n * i;
            //             document.write(n , '*' , i , '=' , rslt);
            //             document.write('<br>')
            //         }
            //         document.write('<br>')
            //         document.write('<hr>')
            //     }
// ------------------------------------------------------------------------------------------------
            

                // var lmt = Number(prompt('Enter a limit'));
                // var rslt =0;
                // var n = 1;
                // var i = 1;
                // while(n <= lmt)
                // {
                //     while(i <= 10)
                //     {
                //         rslt = n * i;
                //         document.write(n, '*' ,i ,'=', rslt)
                //         document.write('<br>')
                //         i++ ;
                        
                //     }
                //     n++;
                //     document.write('<hr>'); 
                // }

    // -----------------------------------------------------------------------------------------------

                    for(let i = 5; i >= 0; i--)
                    {
                        for(let j = i; j <= 5; j++)
                        {
                        document.write('*',' ')
                        }
                        document.write('<br>')
                    }


                    document.write('<br>')


                    for(let i = 0; i <= 5; i++)
                    {
                        for(let j = i; j<=5; j++)
                        {
                        document.write('*',' ')
                        }
                        document.write('<br>')
                    }


                    document.write('<br>')


                    for(let i = 1; i <= 5; i++){
                        for(let j=0; j < 5-i; j++)
                        {
                        document.write(' ')
                        }
                        for(let k = 0; k < i; k++){
                            document.write('*')
                        }
                        document.write('<br>')
                    }

    </script>


</body>
</html>