.mainDiv{
    background-color: darkseagreen;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.secondDiv{
    background-color: cadetblue;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}